.App {
  /* height: 40rem;
  width: 40rem; */
  overflow-x: hidden;
  background-color: #001440;
  padding: 10px 5px 10px 5px;
  display: grid;
  grid-template-columns: 15rem 45rem 40rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.left-panel {
  padding: 10px;
}

.left-panel-inner {
  padding: 5px;
}

.left-panel-inner .lpanel-option {
  height: 50px;
  width: auto;
  color: #fff;
  margin: 3px;
  padding: 5px;
  font-weight: bolder;
  cursor: pointer;
  text-align: center;
}
.left-panel-inner .lpanel-option:hover {
  background-color: #16419d88;
  border-radius: 8px;
}

.left-panel > p {
  color: #fff;
  font-size: larger;
  font-weight: bolder;
  font-style: normal;
}

.leftOptionsInner {
  position: "absolute";
  z-index: 1;
  top: 30px;
  background-color: "#d0cdf9  ";
}
